<!DOCTYPE html>
<html>
  <head>
  	
  	<title>Danica and Joe</title>
  	<link href="style.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body>
	
<div class="headerbox">
		<div class="header">Danica &amp; Joe</div>
		<div class="dateText">September 28, 2012</div>
		<div class="taglineText"><b><a name="body">Welcome To Our Wedding Website</a></b></div>
	</div>

<div class="TravelWhiteBox">
	
	<div class="NavigationBar">
		<dl>
			<dt><div class="NavigationMenu"><a href="index.html#body">Welcome</a></div></dt>
			<dt><div class="NavigationMenu"><a href="OurStory.html#body">Our Story</a></div></dt>
			<dt><div class="NavigationMenu"><a href="BridalParty.html#body">Bridal Party</div></a></dt>
			<dt><div class="NavigationMenu"><a href="WeddingDay.html#body">Wedding Day</a></div></dt>
			<dt><div class="NavigationMenu"><a href="Travel.html#body">Travel</a></div></dt>
			<dt><div class="NavigationMenu"><a href="Accommodations.html#body">Accommodations</a></div></dt>
			<dt><div class="NavigationMenu"><a href="Registry.html#body">Registry</div></a></dt>
			<dt><div class="NavigationMenu Selected"><a href="GuestBook.html#body">Guest Book</a></div></dt>
			<dt><div class="NavigationMenu"><a href="ContactUs.html#body">Contact Us</a></div></dt>		
		</dl>
	</div>

		<div class="text">
			<p>Come back in a couple weeks and we'll have this section updated!</p>
			<iframe width="420" height="315" src="http://www.youtube.com/embed/bv5vMJKBAbo" frameborder="0" allowfullscreen></iframe>
			
		<div class="image">
		</div>
		</a>
		</div>
		

</div>
	
<div id="footer">Inspired by<a href="http://www.blazingcloud.net" class="footer">Blazing Cloud</a> and <a href="http://www.weddingwire.com/wedding/UserViewWebsite?wid=cb29d9b93e0dadd5&themeCode=15101&flash=skip"class="footer">WeddingWire</a>, made by <a href="http://www.linkedin.com/in/khara" class="footer">Khara Muniz</a>
	</div>

  </body>
  </html>

